# Auto detect text files and perform LF normalization
* text=auto
media filter=lfs diff=lfs merge=lfs -text
tests filter=lfs diff=lfs merge=lfs -text
tests/*.* filter=lfs diff=lfs merge=lfs -text
tests/*.mp4 filter=lfs diff=lfs merge=lfs -text
media/070119_babelfish_oscillation2.mp4 filter=lfs diff=lfs merge=lfs -text
media/Twin[[:space:]]Cameras.mp4 filter=lfs diff=lfs merge=lfs -text
media/WRC[[:space:]]SURF[[:space:]]USV[[:space:]]and[[:space:]]UUV[[:space:]]Demo.mp4 filter=lfs diff=lfs merge=lfs -text
media/070119_babelfish_oscillation.mov filter=lfs diff=lfs merge=lfs -text
media/GLDS0702_132936175.jpeg filter=lfs diff=lfs merge=lfs -text
media/IMAG6392.jpg filter=lfs diff=lfs merge=lfs -text
media/besto[[:space:]]roboto.jpg filter=lfs diff=lfs merge=lfs -text
media/Do[[:space:]]a[[:space:]]Barrel[[:space:]]Roll[[:space:]]-[[:space:]]Pitch[[:space:]]test[[:space:]]with[[:space:]]internal[[:space:]]telemetry.MOV filter=lfs diff=lfs merge=lfs -text
media/GLDS0702_131359158-001.jpeg filter=lfs diff=lfs merge=lfs -text
media/GLDS0702_132919265.jpeg filter=lfs diff=lfs merge=lfs -text
media/vlcsnap-2019-08-02-07h22m38s661.png filter=lfs diff=lfs merge=lfs -text
media/vlcsnap-2021-11-17-06h50m32s939.png filter=lfs diff=lfs merge=lfs -text
media/vlcsnap-2021-11-17-06h51m34s750.png filter=lfs diff=lfs merge=lfs -text
tests/20-03-10[[:space:]]pid[[:space:]]testing/Pitch[[:space:]]pingpong[[:space:]]vi_0011_20200310_133432.mp4 filter=lfs diff=lfs merge=lfs -text
tests/20-03-10[[:space:]]pid[[:space:]]testing/Pitch[[:space:]]pingpong[[:space:]]vi_0011_20200310_133432.mp4.v0011.th.jpg filter=lfs diff=lfs merge=lfs -text
tests/20-03-10[[:space:]]pid[[:space:]]testing/AUV_20200310_13-33-1583861581.log filter=lfs diff=lfs merge=lfs -text
tests/20-03-10[[:space:]]pid[[:space:]]testing/AUV_20200310_13-41-1583862067.log filter=lfs diff=lfs merge=lfs -text
tests/20-03-10[[:space:]]pid[[:space:]]testing/AUV_20200310_13-33-1583861581.csv filter=lfs diff=lfs merge=lfs -text
tests/20-03-10[[:space:]]pid[[:space:]]testing/Depth[[:space:]]pingpong[[:space:]]vi_0012_20200310_133532.mp4 filter=lfs diff=lfs merge=lfs -text
tests/20-03-10[[:space:]]pid[[:space:]]testing/Depth[[:space:]]pingpong[[:space:]]vi_0012_20200310_133532.mp4.v0012.th.jpg filter=lfs diff=lfs merge=lfs -text
tests/20-03-10[[:space:]]pid[[:space:]]testing/Heading[[:space:]]pingpong[[:space:]]vi_0013_20200310_134126.mp4 filter=lfs diff=lfs merge=lfs -text
tests/20-03-10[[:space:]]pid[[:space:]]testing/Heading[[:space:]]pingpong[[:space:]]vi_0013_20200310_134126.mp4.v0013.th.jpg filter=lfs diff=lfs merge=lfs -text
tests/20-03-10[[:space:]]pid[[:space:]]testing/20200310[[:space:]]ships[[:space:]]log.txt filter=lfs diff=lfs merge=lfs -text
tests/20-03-10[[:space:]]pid[[:space:]]testing/AUV20200310_13-33[[:space:]]delimited[[:space:]]spreadsheet.xlsx filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG4990.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG5009[[:space:]](1).jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG5011.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/AUV_20190805_08_32_1565008367.log.txt filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG5002.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG5005.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG5009[[:space:]](3).jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG4998.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG5009.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/test_serial_time.py filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG4988.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG4996.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG5009[[:space:]](2).jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG5014.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG4991.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG5001.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG5008.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG5012.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG5015[[:space:]](1).jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/AUV_20190805_09_33_1565012009.log.txt filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG4995.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG5003.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG5006.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG5013.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG5015[[:space:]](2).jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG5015.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG4994.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG4999.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG5000.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG5007.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG5010.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/AUV_PID.cpp filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG4989.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG4992.jpg filter=lfs diff=lfs merge=lfs -text
tests/Py[[:space:]]to[[:space:]]Mbed[[:space:]]serial[[:space:]]execute/IMAG4993.jpg filter=lfs diff=lfs merge=lfs -text
tests/Thruster[[:space:]]test/IMG_1349.MOV filter=lfs diff=lfs merge=lfs -text
